*{
  cursor:url(public/cursor.png), auto;
}



.personal {
  margin: 0;
  height: 24px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.logo
{
  display: flex;
  justify-content: flex-start;
}
.logo {
  height: 54px;
  flex-direction: row;
  align-items: center;
  
}
.button a {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 600;
  color: #f5f5f5;
  text-decoration: none;
}
.download-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
.container,
.container-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.button {
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  height: 56px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  gap: 8px;
  font-size: var(--heading-h5-bold-size);
  color: var(--primary-white);
  font-family: var(--heading-h6-semibold);
}

.button:hover,.button a:hover{
  background-color: var(--primary-white);
  border-color: #000;
  color: #000;
  cursor:url(public/cursorAct.png), auto;

}
.container,
.container-wrapper {
  align-items: flex-start;
  max-width: 100%;
}
.container {
  width: 1280px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 42px;
  gap: var(--gap-xl);
  
  text-align: left;
  font-size: 36px;
  color: var(--primary-black);
  font-family: var(--font-actor);
}
.container-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 23px 74px 23px;
  position: absolute;
  top: 0%;
}










.anujay-goel,
.hello-iam {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 400;
  font-family: inherit;
}
.anujay-goel {
  font-weight: 800;
}
.hello-iam-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.product-designer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 800;
  font-family: inherit;
  color: black;
  display: inline-block;
  text-shadow: #000;
  min-width: 276px;
}
.based-in-parent,
.digital-parent,
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.digital-parent {
  align-self: stretch;
}
.based-in-parent,
.frame-group {
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xl);
}
.i-create-impactful {
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-500);
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.social-icon {
  width: 20px;
  position: relative;
  height: 20px;
  display: none;
}
.button1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.social-icon-names {
  position: absolute;
  top: 18px;
  left: 19px;
  width: 18px;
  height: 18px;
  z-index: 1;
}
.social-button-labels,
.social-icon1 {
  height: 56px;
  width: 56px;
  position: relative;
}
.social-icon1 {
  width: 20px;
  height: 20px;
  object-fit: cover;
  display: none;
}
.button2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  width: 58px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
}
.group-icon {
  position: absolute;
  top: 19px;
  left: 18px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.social-icon2 {
  width: 20px;
  position: relative;
  height: 20px;
}
.button3 {
  width: 58px;
  border-radius: var(--br-9xs);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  z-index: 1;
}
.mdiinstagram-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 1;
}
.hero-content,
.icroundtiktok {
  display: flex;
  align-items: flex-start;
}
.icroundtiktok {
  width: 320px;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.hero-content {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-32xl);
  min-width: 398px;
  max-width: 100%;
}
.mdilinkedin {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.component-6-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.component-7-icon {
  position: absolute;
  top: 306px;
  left: 138px;
  width: 56px;
  height: 56px;
  overflow: hidden;
  z-index: 1;
}
.components {
  align-self: stretch;
  height: 582px;
  position: relative;
}
.component-wrapper {
  height: 451px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
  min-width: 474px;
  max-width: 100%;
}
.hero-section,
.hero-section-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.hero-section {
  flex: 1;
  background-color: var(--primary-white);
  overflow: hidden;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 100px 104px 148px 118px;
  gap: 132px;
}
.hero-section-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0 0;
  text-align: left;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-black);
  font-family: var(--heading-h6-semibold);
}
.my {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 71px;
}
.skills-header,
.skills-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.skills-title {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.skills-header {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.icon-git,
.javascript {
  position: relative;
  display: none;
}
.icon-git {
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.javascript {
  width: 138px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
}
.skills1 {
  width: 186px;
  border-radius: var(--br-9xs);
  background-color: var(--primary-white);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  gap: var(--gap-13xl);
  z-index: 0;
}
.figma,
.image-774-icon {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.figma {
  width: 107px;
  bottom: 30px;
  left: 34px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.image-774-icon {
  height: 80px;
  width: 80px;
  top: 30px;
  left: calc(50% - 40px);
  object-fit: cover;
}
.skill-items-row-one {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.icon-javscript {
  width: 56px;
  position: relative;
  height: 56px;
  display: none;
}
.image-773-icon,
.protopie {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.image-773-icon {
  height: 67.8px;
  width: 90px;
  top: 30px;
  right: 47.5px;
  object-fit: cover;
}
.protopie {
  width: 107px;
  right: 37.5px;
  bottom: 30px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
  color: var(--primary-black);
}
.skill-items-row-one1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  color: var(--primary-white);
}
.image-775-icon {
  height: 54.2px;
  width: 60px;
  top: 39px;
  left: calc(50% - 30px);
  object-fit: cover;
}
.image-775-icon,
.image-777-icon,
.sketch {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.sketch {
  width: 107px;
  bottom: 25px;
  left: calc(50% - 53px);
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.image-777-icon {
  height: 66.7px;
  width: 70px;
  top: 26px;
  right: 57.5px;
  object-fit: cover;
}
.invision {
  width: 107px;
  right: 33.5px;
  bottom: 25px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.adobe-xd,
.image-776-icon,
.invision {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.adobe-xd {
  width: 107px;
  right: 33px;
  bottom: 30px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 107px;
}
.image-776-icon {
  height: 75.4px;
  width: 70px;
  top: 21px;
  right: 57px;
  object-fit: cover;
}
.skills6 {
  width: 186px;
  border-radius: var(--br-9xs);
  background-color: var(--primary-white);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  gap: var(--gap-13xl);
  z-index: 1;
}
.marvel {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  z-index: 1;
}
.marvel-wrapper,
.skill-items-row-one5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.marvel-wrapper {
  width: 106px;
  flex-direction: column;
  padding: 136px 0 0;
  box-sizing: border-box;
  margin-left: -146px;
}
.skill-items-row-one5 {
  flex-direction: row;
  padding: 0 var(--padding-21xl) 0 0;
}
.canva,
.image-788-icon {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.image-788-icon {
  height: 75px;
  width: 100px;
  top: 34px;
  right: 42.5px;
  object-fit: cover;
}
.canva {
  width: 107px;
  right: 38.5px;
  bottom: 22px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.image-780-icon {
  height: 62.3px;
  width: 100px;
  top: 39px;
  left: calc(50% - 50px);
  object-fit: cover;
}
.chatgpt,
.image-779-icon,
.image-780-icon {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.chatgpt {
  width: 107px;
  right: 38px;
  bottom: 22px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.image-779-icon {
  height: 80px;
  width: 80px;
  top: 34px;
  left: 51.5px;
  object-fit: cover;
}
.perplexity {
  width: 107px;
  right: 37.5px;
  bottom: 22px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 107px;
}
.image-787-icon,
.ms-office,
.perplexity {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.image-787-icon {
  height: 120px;
  width: 120px;
  top: 11px;
  left: calc(50% - 60px);
  object-fit: cover;
}
.ms-office {
  width: 107px;
  right: 37px;
  bottom: 22px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.skills-row-one {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px 71.5px;
}
.image-783-icon,
.web-dev {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.image-783-icon {
  height: 132.9px;
  width: 150px;
  top: 8px;
  left: calc(50% - 75px);
  object-fit: cover;
}
.web-dev {
  width: 107px;
  bottom: 11px;
  left: calc(50% - 53px);
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.image-784-icon,
.image-786-icon {
  position: absolute;
  object-fit: cover;
}
.image-784-icon {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 100px;
  z-index: 1;
}
.image-786-icon {
  top: 7px;
  left: 94px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.skill-icons-row-three {
  height: 100px;
  width: 174px;
  position: absolute;
  margin: 0 !important;
  top: 5px;
  left: 2.5px;
}
.data-mangement {
  height: 28px;
  position: absolute;
  margin: 0 !important;
  right: 3.5px;
  bottom: 34px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
  z-index: 1;
}
.image-785-icon {
  height: 111.6px;
  width: 120px;
  top: 16px;
  left: calc(50% - 60px);
  object-fit: cover;
}
.image-778-icon,
.image-785-icon,
.mern {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.mern {
  width: 107px;
  bottom: 20px;
  left: calc(50% - 53px);
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.image-778-icon {
  height: 125px;
  width: 161px;
  top: -7px;
  left: -31px;
  object-fit: cover;
}
.jira-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 138px 0 0;
}
.image-778-parent {
  width: 106px;
  position: relative;
  margin-left: -141.5px;
}
.image-778-parent,
.skill-items-row-three,
.skill-names-row-three2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.skill-names-row-three2 {
  padding: 0 35px 0 0;
}
.skill-items-row-three {
  gap: var(--gap-52xl-5);
}
.more-skills-child {
  height: 59px;
  width: 367px;
  position: relative;
  background-color: var(--primary-black);
  display: none;
  max-width: 100%;
}
.many-more {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.more-skills,
.skills-row-four {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.more-skills {
  flex: 1;
  background-color: var(--primary-black);
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-10xl) var(--padding-7xs);
}
.skills-row-four {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 166px 0 167px;
  font-size: var(--font-size-21xl);
  color: #f5f5f5;
  font-family: var(--font-instrument-serif);
}
.skills-row-three {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.image-782-icon,
.trello {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.image-782-icon {
  height: 56.3px;
  width: 100px;
  top: 38px;
  left: calc(50% - 50px);
  object-fit: cover;
}
.trello {
  width: 107px;
  bottom: 19px;
  left: 38px;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  display: inline-block;
}
.skills-row-two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-52xl-5);
  max-width: 100%;
}
.skills-grid {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--heading-h5-bold-size);
}
.boy-inner,
.skills-grid,
.skills-header-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.skills-header-parent {
  width: 1216px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 59px;
}
.boy-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-77xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-black);
  font-family: var(--heading-h6-semibold);
}
.frame-child,
.ui-designing {
  height: 40px;
  position: relative;
}
.frame-child {
  width: 38.9px;
  background-color: var(--primary-white);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
}
.ui-designing {
  align-self: stretch;
  letter-spacing: 0.02em;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.expertise-labels {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.hugeiconstick-01 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -23px;
  left: -2px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-parent {
  width: 249px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-mid-5);
}
.hugeiconstick-011 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -23px;
  left: -2.3px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.interactive-media {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.hugeiconstick-012 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -23px;
  left: -2.6px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-div {
  height: 40px;
  width: 38.9px;
  position: relative;
  background-color: var(--primary-white);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  flex-shrink: 0;
}
.hugeiconstick-013 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -16px;
  left: -2.8px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.group-div {
  width: 249px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-mid-6);
}
.logo-designing {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.hugeiconstick-014,
.hugeiconstick-015,
.hugeiconstick-016 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -24px;
  left: -2px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.hugeiconstick-015,
.hugeiconstick-016 {
  left: -2.3px;
}
.hugeiconstick-016 {
  left: -2.6px;
}
.content-writing {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  flex-shrink: 0;
}
.hugeiconstick-017,
.hugeiconstick-018,
.hugeiconstick-019 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -24px;
  left: -2.8px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.hugeiconstick-018,
.hugeiconstick-019 {
  top: -25px;
  left: -2px;
}
.hugeiconstick-019 {
  left: -2.3px;
}
.human-factors {
  height: 40px;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.human-factors-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.hugeiconstick-0110 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -18px;
  left: -2.6px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-mid-5);
}
.product-designing {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  flex-shrink: 0;
}
.hugeiconstick-0111,
.hugeiconstick-0112,
.hugeiconstick-0113,
.hugeiconstick-0114 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -25px;
  left: -2.8px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.hugeiconstick-0112,
.hugeiconstick-0113,
.hugeiconstick-0114 {
  top: -21px;
  left: -2px;
}
.hugeiconstick-0113,
.hugeiconstick-0114 {
  left: -2.3px;
}
.hugeiconstick-0114 {
  top: -20px;
  left: -2.6px;
}
.hugeiconstick-0115,
.hugeiconstick-0116,
.hugeiconstick-0117,
.hugeiconstick-0118,
.hugeiconstick-0119 {
  height: 70px;
  width: 70px;
  position: absolute;
  margin: 0 !important;
  top: -21px;
  left: -2.8px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.hugeiconstick-0116,
.hugeiconstick-0117,
.hugeiconstick-0118,
.hugeiconstick-0119 {
  top: -22px;
  left: -2px;
}
.hugeiconstick-0117,
.hugeiconstick-0118,
.hugeiconstick-0119 {
  left: -2.3px;
}
.hugeiconstick-0118,
.hugeiconstick-0119 {
  left: -2.6px;
}
.hugeiconstick-0119 {
  left: -2.8px;
}
.expertise-icons {
  align-self: stretch;
  width: 1201px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 60px 68.1px;
  max-width: 100%;
}
.expertise {
  height: 525px;
  padding: 0 var(--padding-xl) 70px var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-h4-semibold-size);
  color: var(--primary-black);
  font-family: var(--heading-h6-semibold);
}
.experience-header,
.expertise {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.google-icon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.lead-software-engineer {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
}
.experience-position-date {
  align-self: stretch;
  width: 1018px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.nov-2019- {
  height: 20px;
  width: 169px;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  color: var(--zinc-300);
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.as-a-senior {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-300);
  text-align: left;
}
.experience1 {
  width: 1168px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--zinc-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-5xl);
  gap: var(--gap-9xl);
}
.youtube-icon {
  width: 32px;
  position: relative;
  height: 32px;
  display: none;
}
.as-a-senior1,
.nov-2019-1 {
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  color: var(--zinc-300);
}
.nov-2019-1 {
  height: 20px;
  width: 166px;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.as-a-senior1 {
  align-self: stretch;
  letter-spacing: 0.02em;
  line-height: 24px;
  white-space: pre-wrap;
  text-align: left;
}
.experience2 {
  width: 1168px;
  border-radius: var(--br-3xs);
  background-color: var(--zinc-800);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
}
.nov-2019-2 {
  height: 20px;
  width: 182px;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  color: var(--zinc-300);
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) 44px;
  gap: var(--gap-17xl);
}
.nov-2019-3 {
  height: 20px;
  width: 155px;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  color: var(--zinc-300);
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience4 {
  width: 1168px;
  border-radius: var(--br-3xs);
  background-color: var(--zinc-800);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  z-index: 2;
}
.nov-2019-4 {
  height: 20px;
  width: 167px;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  color: var(--zinc-300);
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience5 {
  width: 1168px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--zinc-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-5xl);
  gap: var(--gap-9xl);
  z-index: 1;
}
.nov-2019-5 {
  height: 20px;
  width: 162px;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  color: var(--zinc-300);
  display: flex;
  align-items: center;
  justify-content: center;
}
.row1 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-5xl);
  gap: 45.5px;
  z-index: 1;
  margin-top: -29px;
}
.experience-list,
.row1,
.testimonial,
.testimonial-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience-list {
  flex: 1;
  flex-direction: column;
  text-align: center;
  font-size: var(--heading-h4-semibold-size);
}
.testimonial,
.testimonial-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.testimonial {
  flex: 1;
  background-color: var(--primary-black);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-93xl) 147px;
  gap: var(--gap-21xl);
}
.testimonial-wrapper {
  height: 1811.5px;
  flex-direction: row;
  padding: 0 0 77.5px;
  text-align: left;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-white);
  font-family: var(--heading-h6-semibold);
}
.about-me-content-child {
  height: 534.9px;
  width: 525.4px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.me {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 78px;
}
.i-am-seasoned {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
}
.about-me-description,
.about-me-header-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.about-me-description {
  gap: var(--gap-xl);
  font-size: var(--heading-h5-bold-size);
  color: var(--zinc-500);
}
.about-me-header-parent {
  gap: var(--gap-21xl);
}
.about-me-content,
.about-me-content-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-me-content-inner {
  flex: 1;
  flex-direction: column;
  padding: 1.5px 0 0;
  box-sizing: border-box;
  min-width: 396px;
}
.about-me-content {
  width: 1216px;
  flex-direction: row;
  gap: 80.6px;
}
.frame-child17 {
  height: 193.6px;
  width: 171.7px;
  position: absolute;
  margin: 0 !important;
  bottom: -158.6px;
  left: 122.2px;
  object-fit: contain;
  z-index: 3;
}
.about-me-content-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 143.5px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-black);
  font-family: var(--heading-h6-semibold);
}
.footer-quote-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 245.1px;
}
.every-successful-product {
  margin: 0;
  position: absolute;
  top: 54.1px;
  left: 209px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 601px;
  height: 204px;
  z-index: 1;
}
.footer-quote {
  height: 258.1px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.footer-quote-container {
  width: 1116px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 68px 67px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-black);
  font-family: var(--font-jacques-francois);
}
.heading {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 462px;
  gap: var(--gap-base);
}
.image-771-icon {
  height: 397.7px;
  width: 530px;
  position: relative;
  border-radius: var(--br-lg-8);
  object-fit: cover;
  max-width: 100%;
}
.image {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-20xl-1) 0 var(--padding-20xl-2);
  box-sizing: border-box;
  min-width: 594px;
  max-width: 100%;
}
.content,
.uber-daily {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
}
.content {
  line-height: 56px;
  font-weight: 800;
}
.uber-daily {
  font-size: var(--heading-h2-bold-size);
  line-height: 40px;
}
.read-more-icon {
  width: 20px;
  height: 20px;
  position: relative;
}
.placeholder-image {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.details,
.project-1 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.details {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 378px;
}
.project-1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.when-an-unknown {
  margin: 0;
}
.image1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-20xl-1) 0 var(--padding-20xl-2);
  box-sizing: border-box;
  min-width: 594px;
  max-width: 100%;
}
.container1,
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.container1 {
  overflow: hidden;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.view-more-button-child {
  height: 86px;
  width: 459px;
  position: relative;
  background-color: var(--primary-white);
  display: none;
  max-width: 100%;
}
.view-more {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.view-more-button,
.view-more-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.view-more-button {
  flex: 1;
  background-color: var(--primary-white);
  padding: var(--padding-lg) 54px var(--padding-lg) var(--padding-37xl);
}
.view-more-button-container {
  width: 1251px;
  padding: 0 396px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--primary-black);
  font-family: var(--font-instrument-serif);
}
.bodystriped-pocket-tee {
  width: 257px;
  height: 225px;
  position: absolute;
  margin: 0 !important;
  top: -207px;
  left: 49px;
  object-fit: cover;
  z-index: 2;
}
.project,
.project-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.project {
  flex: 1;
  background-color: var(--primary-black);
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-61xl) 92px;
  position: relative;
  gap: 102px;
}
.project-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 114px;
  text-align: left;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-white);
  font-family: var(--heading-h6-semibold);
}
.your-name {
  height: 20px;
  width: 452px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
}
.button6,
.component-2,
.your-name-wrapper {
  width: 500px;
  height: 56px;
  justify-content: flex-start;
}
.your-name-wrapper {
  border-radius: var(--br-9xs);
  border: 1.4px solid var(--primary-black);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
}
.button6,
.component-2 {
  position: absolute;
  top: 0;
  left: 163px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button6 {
  top: 10px;
  left: 10px;
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  width: 56px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.mdilinkedin-icon {
  position: absolute;
  top: 26px;
  left: 26px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 1;
}
.linked-in-button {
  margin-top: -10px;
  margin-left: -94px;
  height: 76px;
  width: 76px;
  position: relative;
}
.social-icon5 {
  height: 20px;
  width: 20px;
  position: relative;
  object-fit: cover;
}
.button7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  width: 58px;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
}
.dribbble-icon-container {
  align-self: stretch;
  height: 55px;
  position: relative;
}
.dribbble-button {
  width: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 11px 0 0;
  box-sizing: border-box;
}
.social-icon6 {
  height: 20px;
  width: 20px;
  position: relative;
}
.button8 {
  width: 58px;
  border-radius: var(--br-9xs);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
}
.instagram-button {
  height: 56px;
  flex: 1;
  position: relative;
}
.behance-button,
.button5 {
  width: 142px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.button5 {
  position: absolute;
  top: 76px;
  left: 163px;
  width: 344px;
  height: 66px;
  padding: 0 33px 0 84px;
  box-sizing: border-box;
  gap: var(--gap-lg);
}
.column-child {
  position: absolute;
  top: -225px;
  right: 179.5px;
  width: 198.5px;
  height: 266px;
  object-fit: cover;
  z-index: 1;
}
.column {
  align-self: stretch;
  height: 169px;
  position: relative;
}
.footer-links-column {
  height: 222px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 603px;
  max-width: 100%;
}
.lets {
  min-width: 114px;
}
.for,
.lets,
.talk {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.talk {
  color: transparent;
  -webkit-text-stroke: 3px #000;
  min-width: 96px;
}
.for {
  min-width: 71px;
}
.lets-talk {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.something-special {
  margin: 0;
  width: 647px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.special-email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 8px;
  box-sizing: border-box;
  max-width: 133%;
}
.i-seek-to {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.creativity-quote {
  width: 385px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--heading-h6-semibold-size);
  color: var(--zinc-500);
}
.anujaygoelgmailcom {
  width: 647px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.space,
.special-email1 {
  font-size: var(--heading-h3-semibold-size);
}
.special-email1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 133%;
}
.space {
  width: 647px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  max-width: 134%;
}
.column1 {
  width: 646px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 55px var(--padding-61xl) var(--padding-93xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  z-index: 1;
  margin-left: -57px;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-black);
}
.footer-links,
.footer-links-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.footer-links-container {
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: 20px;
}
.footer-links {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-5xl) 41px var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-h6-semibold-size);
  color: var(--zinc-500);
  font-family: var(--heading-h6-semibold);
}
.logo-1-icon1 {
  height: 40px;
  width: 39.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.personal1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
}
.logo1 {
  gap: var(--gap-xs);
}
.footer-logo,
.logo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footer-spacing {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 115px;
}
.footer-space {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--heading-h6-semibold-size);
}
.boy,
.container2,
.footer {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.container2 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
  max-width: 100%;
  gap: var(--gap-xl);
}
.boy,
.footer {
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background-color: var(--primary-black);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-5xl) var(--padding-61xl) 36px;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-h5-bold-size);
  color: var(--primary-white);
  font-family: var(--heading-h6-semibold);
}
.boy {
  width: 100%;
  position: relative;
  background-color: var(--primary-white);
  flex-direction: column;
  align-items: flex-end;
  padding: 103px 0 0;
  gap: 1px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .component-wrapper {
    flex: 1;
  }
  .hero-section,
  .skills-row-two {
    flex-wrap: wrap;
  }
  .testimonial {
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-77xl);
    box-sizing: border-box;
  }
  .testimonial-wrapper {
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .heading {
    flex-wrap: wrap;
    padding-left: var(--padding-212xl);
    padding-right: var(--padding-212xl);
    box-sizing: border-box;
  }
  .image,
  .image-771-icon {
    flex: 1;
  }
  .project-1 {
    flex-wrap: wrap;
  }
  .image1 {
    flex: 1;
  }
  .view-more-button-container {
    padding-left: var(--padding-179xl);
    padding-right: var(--padding-179xl);
    box-sizing: border-box;
  }
  .project {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
  .project-wrapper {
    padding-bottom: var(--padding-55xl);
    box-sizing: border-box;
  }
  .column1,
  .footer-links-column {
    flex: 1;
  }
  .footer-links-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .boy-inner,
  .testimonial {
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
  .testimonial {
    padding-top: var(--padding-15xl);
  }
  .testimonial-wrapper {
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .about-me-content-child {
    flex: 1;
  }
  .about-me-content {
    flex-wrap: wrap;
  }
  .footer-quote-container {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-15xl);
    box-sizing: border-box;
  }
  .image,
  .image1 {
    min-width: 100%;
  }
  .project {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .project-wrapper {
    padding-bottom: 48px;
    box-sizing: border-box;
  }
  .column1 {
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .container-wrapper {
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .anujay-goel,
  .hello-iam {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }
  .hello-iam-parent {
    flex-wrap: wrap;
  }
  .product-designer {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }
  .digital-parent {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: var(--gap-base);
  }
  .hero-content {
    gap: var(--gap-6xl);
  }
  .component-wrapper,
  .hero-content {
    min-width: 100%;
  }
  .hero-section {
    gap: 66px;
    padding: 79px var(--padding-33xl) var(--padding-77xl) 59px;
    box-sizing: border-box;
  }
  .my {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }
  .skills-row-one {
    gap: var(--gap-17xl);
  }
  .skill-items-row-three {
    gap: var(--gap-17xl);
    flex-wrap: wrap;
  }
  .skills-row-four {
    padding-left: var(--padding-64xl);
    padding-right: var(--padding-64xl);
    box-sizing: border-box;
  }
  .skills-row-three {
    gap: var(--gap-xl);
  }
  .skills-row-two {
    gap: var(--gap-17xl);
  }
  .skills-grid {
    gap: var(--gap-xl);
  }
  .skills-header-parent {
    gap: 29px;
  }
  .boy-inner {
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .expertise-icons {
    gap: 34px;
  }
  .expertise {
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .row {
    gap: var(--gap-lg);
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-10xl);
  }
  .row,
  .row1,
  .testimonial {
    box-sizing: border-box;
  }
  .row1 {
    gap: 23px;
    padding-bottom: var(--padding-xl);
  }
  .testimonial {
    gap: var(--gap-xl);
    padding-left: var(--padding-37xl);
    padding-right: var(--padding-37xl);
  }
  .me {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }
  .about-me-header-parent {
    gap: var(--gap-xl);
  }
  .about-me-content-inner {
    min-width: 100%;
  }
  .about-me-content {
    gap: var(--gap-21xl);
  }
  .about-me-content-parent {
    padding-bottom: 93px;
    box-sizing: border-box;
  }
  .every-successful-product {
    font-size: var(--font-size-19xl);
  }
  .heading,
  .image {
    box-sizing: border-box;
  }
  .heading {
    padding-left: var(--padding-96xl);
    padding-right: var(--padding-96xl);
  }
  .image {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
  }
  .content {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }
  .uber-daily {
    font-size: var(--font-size-7xl);
    line-height: 32px;
  }
  .details {
    min-width: 100%;
  }
  .project-1 {
    gap: var(--gap-xl);
  }
  .image1 {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .view-more-button-container {
    padding-left: var(--padding-80xl);
    padding-right: var(--padding-80xl);
    box-sizing: border-box;
  }
  .project {
    gap: var(--gap-32xl);
    padding: var(--padding-xl) var(--padding-21xl) var(--padding-6xl);
    box-sizing: border-box;
  }
  .project-wrapper {
    padding-bottom: 31px;
    box-sizing: border-box;
  }
  .footer-links-column {
    min-width: 100%;
  }
  .for,
  .lets,
  .something-special,
  .talk {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }
  .column1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    padding-bottom: 73px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .footer-links {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .anujay-goel,
  .hello-iam,
  .product-designer {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .based-in-parent {
    flex-wrap: wrap;
  }
  .hero-section {
    gap: 33px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .my {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .adobe-xd,
  .canva,
  .chatgpt,
  .figma,
  .invision,
  .marvel,
  .ms-office,
  .perplexity,
  .protopie,
  .sketch {
    font-size: var(--heading-h6-semibold-size);
    line-height: 19px;
  }
  .skills-row-one {
    gap: var(--gap-lg);
  }
  .data-mangement,
  .mern,
  .web-dev {
    font-size: var(--heading-h6-semibold-size);
    line-height: 19px;
  }
  .skill-items-row-three {
    gap: var(--gap-lg);
  }
  .skills-row-four {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .trello {
    font-size: var(--heading-h6-semibold-size);
    line-height: 19px;
  }
  .skills-row-two {
    gap: var(--gap-lg);
  }
  .content-writing,
  .human-factors,
  .interactive-media,
  .logo-designing,
  .product-designing,
  .ui-designing {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .expertise-icons {
    gap: 17px;
  }
  .testimonial {
    padding: 22px var(--padding-xl) var(--padding-21xl);
    box-sizing: border-box;
  }
  .testimonial-wrapper {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .me {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .i-am-seasoned {
    font-size: var(--heading-h6-semibold-size);
    line-height: 19px;
  }
  .about-me-content {
    gap: var(--gap-xl);
  }
  .every-successful-product {
    font-size: var(--font-size-10xl);
  }
  .heading {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .content {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .uber-daily {
    font-size: var(--font-size-lgi);
    line-height: 24px;
  }
  .view-more-button {
    padding-left: 28px;
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .view-more-button-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .project {
    gap: var(--gap-6xl);
  }
  .for,
  .lets,
  .talk {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .lets-talk {
    flex-wrap: wrap;
  }
  .something-special {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .anujaygoelgmailcom,
  .space {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .container2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .container{
    padding: 0px 5px;
    gap: 5px;
  }
  .personal {
   font-size: 25px;
  }
  .button {
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    font-size: 15px;
    color: var(--primary-white);
    font-family: var(--heading-h6-semibold);
  }
  .anujay-goel,
  .hello-iam,
  .product-designer {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .based-in-parent {
    flex-wrap: wrap;
  }
  .hero-section {
    gap: 33px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }


}
/* @media (max-width: 600px){
  .container{
    padding: 0 20px;
  }
  .personal{
    font-size: 28px;
  }
  .button{
    padding: 10px 15px;
  }
  .hero-section{
    padding: 20px ;
  }
  .anujay-goel,
  .product-designer,
  .hello-iam{
    font-size: 30px;
  }
}

@media (max-width: 400px){
  .container{
    padding: 0 20px;
  }
  .personal{
    font-size: 25px;
    height: 35px;
  }
  .button{
    padding: 5px;
    font-size: 15px;
    height: 30px;
  }
  .hero-section{
    padding: 20px ;
  }
  .anujay-goel,
  .product-designer,
  .hello-iam{
    font-size: 30px;
  }
}
 */
